<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Lake Puzzle Solver</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PuzzleResultCtrl">
  <div style="text-align:center">
    <div style="width:300px;margin-left:50px">
      <form name="myForm" >
        <div>
          <br>
          <label>Source Bucket:</label>
          <input type="number" name="input" ng-model="sourceBucket" min="0" max="99" required>
          <span class="error" ng-show="myForm.list.$error.required">Required!</span>
          <label>Target Bucket :</label>
          <input type="number" name="input" ng-model="targetBucket" min="0" max="99" required>
          <label>Goal:</label>
          <input type="number" name="input" ng-model="goal" min="0" max="99" required >
          <br>
          <button ng-click="load()"  >Solve!</button>
          <hr3>
        </div>
      </form>
    </div>
    <hr/>
    <div class="span10">
     <dl>
      <dt> 
        <span style="margin-right:100px;margin-left:15px">SourceBucket</span><span style="margin-right:100px;margin-left:15px">TargetBucket</span><br>
        <span style="margin-right:80px">Operation ---- State</span><span style="margin-right:80px">Operation ---- State</span>
      </dt>
      <dd ng-repeat="resultStep in puzzleResultSteps">
        <span style="margin-left:20px;margin-right:50px">{{resultStep.SourceBucketOperation}}</span><span style="width:5px;margin-right:100px;">{{resultStep.SourceBucketState}}</span>
        <span style="margin-left:20px;margin-right:50px">{{resultStep.TargetBucketOperation}}</span><span style="width:5px;margin-right:100px;">{{resultStep.TargetBucketState}}</span>
      </dd>
    </dl>  
  </div>    
</div>
</body>
</html>
