<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Lake Puzzle Solver</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <STYLE TYPE="text/css">
  .puzzle-result-header {
   
  }
  .puzzle-result-header span{
     margin-right:30px;
  }
  .puzzle-result-step {

  }
  .puzzle-result-step  span{
    margin-left:25px;
    margin-right:25px;
    width:5px;

  }  

  </STYLE>
</head>
<body ng-controller="PuzzleResultCtrl">
  <div style="text-align:center">
    <div style="width:100%">
      <form name="myForm" >
        <div>
          <br>
          <label>Source Bucket:</label>
          <input type="number" name="input" ng-model="sourceBucket" min="0" max="99" required>
          <span class="error" ng-show="myForm.list.$error.required">Required!</span>
          <label>Target Bucket :</label>
          <input type="number" name="input" ng-model="targetBucket" min="0" max="99" required>
          <label>Goal:</label>
          <input type="number" name="input" ng-model="goal" min="0" max="99" required >
          <br>
          <button ng-click="load()"  >Solve!</button>
          <hr3>
        </div>
      </form>
    </div>
    <hr/>
    <div >
     <dl>
      <dt class="puzzle-result-header" > 
        <span >SourceBucket</span><span >TargetBucket</span><br>
        <span style="margin-left:50px">Operation ---- State</span><span style="margin-left:10px">Operation ---- State</span>
      </dt>
      <dd ng-repeat="resultStep in puzzleResultSteps" class="puzzle-result-step">
        <span >{{resultStep.SourceBucketOperation}}</span><span >{{resultStep.SourceBucketState}}</span>
        <span >{{resultStep.TargetBucketOperation}}</span><span >{{resultStep.TargetBucketState}}</span>
      </dd>
    </dl>  
  </div>    
</div>
</body>
</html>
