/* app css stylesheet */

body
{
    padding-top: 20px;
}

.puzzle-result-header
{
}
.puzzle-result-header span
{
    margin-right: 30px;
}
.puzzle-result-step
{
}
.puzzle-result-step span
{
    margin-left: 25px;
    margin-right: 25px;
    width: 5px;
}

